@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: "Open Sans", serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #ffffff;
    background-color: #232323;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h2.section-title {
    font-family: 'Press Start 2P';
    font-size: 2rem;
    font-weight: 700;
    color: #a5a5ff;
    padding-bottom: 5px;
    text-align: left;
    display: inline-block;
    text-decoration: dashed underline;
}

#about-us {
    margin-bottom: 40px;
}

#about-us {
    font-size: 1.5rem;
}

#projects {
    margin-bottom: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-box {
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.project-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #a5a5ff;
}

.project-box p {
    margin: 10px 0;
}

.project-box a {
    display: inline-block;
    color: #ffffff;
    background-color: #a5a5ff;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

#social-media {
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social li {
    text-decoration: none;
    list-style-type: none;
}

.social i {
    color: #fff;
    font-size: 40px;
    margin: 0 15px;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}